<!doctype html>
<html lang="en">

    <%- include('header'); -%>

    <h2 class="title">ECS Example Game</h2>

    <div id="game">

        
        <!-- Connecting -->
        <div v-if="!connected">
            <p>Connecting</p>
        </div>

        <!-- Not logged in -->
        <div v-else-if="!logged_in">
            <%- include('login'); -%>
        </div>
        
        <!-- Logged in -->
        <div v-else>

            <!-- If the game is in the joining phase -->
            <div v-if="joining">
                <%- include('joining'); -%>
            </div>

            <!-- Playing the game -->
            <div v-else>
                <%- include('game'); -%>
            </div>
            
            <!-- Chat -->
            <%- include('chat'); -%>
        </div>

                
    </div>

    <%- include('footer'); -%>

</html>
